
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}


.navbar {
    background: rgb(80, 80, 122);
    color: white;
    padding: 12px 20px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}


.container {
    width: 80%;
    margin: 40px auto;
}

h2 {
    color: #333;
}

/* FORMULAIRE */
form {
    margin: 20px 0;
}

form input {
    padding: 8px;
    margin-right: 10px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead {
    background-color: #f7f7f7;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tr:hover {
    background-color: #f9f9f9;
}

/* BOUTONS */
.edit {
    background-color: #2ecc71;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.edit:hover {
    background-color: #27ae60;
}

.delete {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete:hover {
    background-color: #c0392b;
}